# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Streamlit
.streamlit/

# Environment
.env
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PDFs generated
*.pdf

# Academics & Docs
*.docx
*.png
*.docx
image.png
projetosafeguard.md
safeguardapp.pdf
safeguardapp.docx
 oqueotrabalho.txt
